<h1>{{title}}</h1>
<ul>
  <li class="box" *ngFor="let listing of listings">
    {{listing.Property.Address.StreetNumber}} {{listing.Property.Address.StreetName}}
    <span class="price">{{listing.Listing.Price|currency}} <span *ngIf="listing.Listing.Transaction=='Rent'"> per month</span></span>
    <p>{{listing.Listing.Transaction}}</p>
    <p *ngFor="let openHouse of listing.Listing.OpenHouses">
      Open House: {{formatDate(openHouse.Date)|date:'MMM. d'}}{{suffix(openHouse.Date)}} {{formatTime(openHouse.Date,openHouse.StartTime)|date:'h:mm
      a'}} to {{formatTime(openHouse.Date,openHouse.EndTime)|date:'h:mm a'}}
    </p>
  </li>
</ul>
